/* base style */

body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

#board_index_header {
	text-align: center;
}

#staff_dashboard_title, .title {
  text-align: center;
}

#staff_dashboard_title h4,
#staff_dashboard_title a,
#staff_dashboard_content h4,
#staff_dashboard_content ul,
#staff_dashboard_content li,
#staff_dashboard_content a {
  margin: 0;
}

#staff_dashboard_content {
  padding: 1cm;
  border: 1px solid black;
  width: 16cm;
  margin-left: auto;
	margin-right: auto;
}

#reply_disclaimer {
	margin: 0;
	font-size: 16px;
}

.post_form {
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
	text-align: center;	
}

.post_form th {
	font-size: 12px;
	padding-left: 0.2cm;
	padding-right: 0.2cm;
	border: 1px solid black;
}

.post_form textarea {
	height: 4cm;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
	width: 8cm;
	box-sizing: border-box;
}

.post_form input {
	width: 100%;
	box-sizing: border-box;
}

#footer {
  text-align: center;
  font-size: 12px;
}

#footer p {
	margin: 0;
}

#posts {
	padding: 0.3cm;
}

.post {
	padding: 0.2cm;
	margin-bottom: 0.5cm;
	display: inline-block;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
}

.post .your_post {
	margin: 0px;
	margin-right: 0.2cm;
	display: inline-block;
	font-size: 12px;
}

.reply {
	overflow-x: auto;
	padding: 0.2cm;
	margin: 0.2cm;
}

.greentext {
	color: #008332;
}

.orangetext {
	color: #da7c00;
}

.bluetext {
	color: #0062ff;
}

.post pre {
  text-wrap: wrap;
}

.post .post_id, .post form, .post .hide_replies_button {
	display: inline;
	font-size: 12px;
	margin: 0;
	margin-right: 0.2cm;
}

.post_form td {
	display: flex;
	flex-direction: row;
}

form .clear_file, form .file_upload {
	display: inline-block;
}

.post h4 {
	margin: 0;
}

.post pre {
	margin: 0;
}

.post .post_attachment {
	max-width: 200px;
	max-height: 200px;

	float: left;
	display: inline-block;

	margin-right: 0.2cm;
}

#topbar {
	padding: 0;
	border-bottom: 1px solid black;
}

#topbar a, #topbar p {
	padding: 0;
	margin: 0;
	margin-right: 0.1cm;
	margin-left: 0.1cm;
	font-size: 12px;
	display: inline-block;
}

#setup_page {
  padding: 1cm;
}

#setup_page h1 {
  margin: 0px;
  font-size: 20px;
}

#setup_page h2 {
  margin: 0px;
  font-size: 18px;
}

#setup_page .important {
  display: inline-block;
  color: red;
}

#setup_page p {
  font-size: 14px;
  margin: 0px;
}

#setup_page label {
  margin-bottom: 0.2cm;
  font-size: 14px;
  display: inline-block;
  width: 3cm;
}

#setup_page button {
  font-size: 14px;
}

.manage_table {
	text-align: center;
	font-size: 14px;
	width: 16cm;
	margin: auto;
}

.manage_table td, .manage_table th {
}

.manage_link {
	text-align: center;
	display: block;
}

.list {
	border: 1px solid black;

	width: 16cm;
	font-size: 14px;
	margin: auto;
}

.list .list_title {
	margin: 0px;
	padding: 0.1cm;
}

.list .list_content {
	padding: 0.1cm;
}
