body {
	background: linear-gradient(180deg, #e1e1f7 0%, #f0eff9 6cm);
	color: black;
	background-attachment: fixed;
}

hr {
    border: none;
    border-top: 1px solid #b7c5d9;
    height: 0;
}

.title {
	color: #AF0A0F;
}

.post .your_post {
	color: brown;
}

.post .admin_post {
	color: red;
}

.post .mod_post {
	color: blue;
}

.post .janny_post {
	color: green;
}

.reply {
	background: #e1e1f7;
}

.post {
    background-color: none;
    margin: 0;
    font-family: system-ui;
}

.reply {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

#topbar {
    box-shadow: 0 0 10px #00000044;
    padding: 0.1cm;
    background: #d0d0f7;
    border-bottom: 1px solid #373599;
}

.post_form th {
	background: #8987ff;
    color: white;
	border: 1px solid #373599;
}

a:link, a:visited {
  color: navy;
}

#staff_dashboard_content {
  background: white;
}

#reply_disclaimer {
	margin-left: 2px;
	margin-right: 3px;
	border: 1px solid black;
	background: #40d9ff;
	color: black;
}

#staff_disclaimer {
	margin-left: 2px;
	margin-right: 3px;
	border: 1px solid black;
	background: #ff5a5a;
	color: black;
}

.manage_table th {
    border: 1px solid #373599;
	background-color: #8987ff;
}

.manage_table td {
	background-color: white;
}

.list {
	background: white;
    border: 1px solid #373599;
}

.list .list_title {
	background-color: #8987ff;
    color: white;
}

.list .boards_table th {
	background-color: #8987ff;
    color: white;
}


.list .boards_table tr {
	background-color: #ffffff;
}

.list .boards_table tr:nth-of-type(odd) {
	background-color: #eeeeee;
}

.board_pages {
	background: #e1e1f7;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	border-right: 1px solid rgba(0, 0, 0, 0.25);
}
