body {
	background: linear-gradient(180deg, #c9d4ff 0%, #ebefff 100%);
	color: black;
	background-attachment: fixed;
}

.post {
	background: #cfd8ff;
}

.reply {
	background: #b7c0ed;
}

.reply, .post {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

#topbar {
  background: #7d95ff;
}

.post_form th {
	background: #7d95ff;
	border: 1px solid black;
}

a:link, a:visited {
  color: #1e274d;
}

#staff_dashboard_content {
  background: white;
}

#reply_disclaimer {
	margin-left: 2px;
	margin-right: 3px;
	border: 1px solid black;
	background: #ff6340;
	color: black;
}

.manage_table th {
	background-color: #7d95ff;
}

.manage_table td {
	background-color: white;
}
