* {
    font-family: serif !important;
}

body {
    font-size: 11pt !important;
	background: #ffe;
	color: #800000;
}

.post * {
    font-size: 11pt !important;
}

.post .file_stats, .post .file_stats a {
    font-size: 9pt !important;
}

hr {
    border: none;
    background-color: #91222066;
    height: 1px;
}

.post .your_post {
	color: navy;
}

.post {
    background-color: none;
    margin: 0;
}

.reply {
	background: #f0e0d6;
}

#topbar {
  border-bottom: 1px solid black;
  background: rgb(231, 231, 220);
  padding: 0.1cm;
}

.post_form th {
	background: #eeaa88;
	border: none !important;
    text-align: left;
    padding: 0.1cm !important;
    font-size: 11pt !important;
}

a:link, a:visited {
  color: blue;
}

#staff_dashboard_content {
  background: white;
}

#reply_disclaimer {
	margin-left: 2px;
	margin-right: 3px;
	border: 1px solid black;
	background: #40d9ff;
	color: black;
}

#staff_disclaimer {
	margin-left: 2px;
	margin-right: 3px;
	border: 1px solid black;
	background: #ff5a5a;
	color: black;
}

.manage_table th {
    border: 1px solid #eeaa88;
	background-color: #eeaa88;
}

.manage_table td {
	background-color: white;
}

.list {
	background: white;
    border: 1px solid #eeaa88 !important;
}

.list .list_title {
	background-color: #eeaa88;
}

.post .your_post {
	color: brown;
}

.list .boards_table th {
	background-color: #eeaa88
}

.list .boards_table tr {
	background-color: #ffffff;
}

.list .boards_table tr:nth-of-type(odd) {
	background-color: #eeeeee;
}

.board_pages {
	background: #f0e0d6;
}

.post_title {
	color: #d00;
}

.stats {
	border: 1px solid #5599aa !important;
}

.recent_images {
	border: 1px solid #99cc66 !important;
}
