body {
	background: #222633;
	color: white;
}

hr {
    border: none;
    border-top: 1px solid #b7c5d9;
    height: 0;
}

.title, .report_header {
	color: lightcoral;
}

.name {
	color: lightgreen !important;
}

.staff_name {
	color: violet !important;
}

.post .your_post {
	color: red;
}

.post {
    background-color: none;
    margin: 0;
}

.post_form th {
	background: #504781;
	border: 1px solid #614ae0;
	border-radius: 6px;
}

.post_form input[type=text], .post_form textarea {
	border-radius: 6px;
	border: 1px solid #acacac;
	color: white;
	background-color: black;
}

a:link, a:visited {
  color: #9eb5ff;
}

#staff_dashboard_content {
  background: white;
}

#reply_disclaimer {
	margin-left: 2px;
	margin-right: 3px;
	background: #40d9ff;
	color: black;
}

#staff_disclaimer {
	margin-left: 2px;
	margin-right: 3px;
	border: 1px solid black;
	background: #ff5a5a;
	color: black;
}

.manage_table th {
    border: 1px solid white;
	background-color: #504781;
}

.manage_table td {
	background-color: black;
}

.list {
	background: black;
    border: 1px solid white;
}

.list .list_title {
	background-color: #504781;
}

.list_title {
	background-color: none;
}

.list .boards_table th {
	background-color: #504781;
}


.list .boards_table tr {
	background-color: black;
}

.list .boards_table tr:nth-of-type(odd) {
	background-color: #151515;
}

.board_pages, .catalog_post, .reply, .post {
	background: #2b3040;
	border: 1px solid #b7c5d9;
	border-radius: 8px;
}

#topbar {
	background: #2b3040;
	border-bottom: 1px solid #b7c5d9;
	padding: 0.1cm;
	box-shadow: 0 0 10px #00000044;
}

.post {
	padding: 0.2cm;
	background: #2f364a;
	margin-bottom: 0.5cm;
}

.reply {
	padding: 0;
}

.reply .post_upper {
	padding: 0.1cm;
	border-bottom: 1px solid #b7c5d9;
	background: #3e4352;
}

.reply .post_lower, .reply .post_attachment {
	margin: 0.2cm;
}

.catalog_post {
	margin: 0.1cm;
}

#posts hr {
	display: none;
}

.post_title {
	color: lightblue;
}

.post_highlighted {
	background-color: #d6bad0;
}

.greentext {
	color: lightgreen;
}

.orangetext {
	color: lightcoral;
}

.bluetext {
	color: lightskyblue;
}

.stats {
	margin-right: 0.5cm;
	width: 7cm;
	display: inline-block;
	background-color: #2f2f5f;
	color: #eeeeff;
	border: 1px solid #eeeeff;
}

.stats .list_title {
	background-color: #3e3e80;
	color: white;
}

.recent_images {
	width: 100%;
	display: inline-block;
	border: 1px solid #cceeab;
	background-color: #254b39;
}

.recent_images .list_title {
	color: #cceeab;
	background-color: #1d794e;
}