body {
	background: linear-gradient(180deg, #fedab5 0%, #ffffee 6cm);
	color: #800000;
    margin: 0;
	background-attachment: fixed;
}

hr {
    border: none;
    background-color: #91222066;
    height: 1px;
}

.post .your_post {
	color: navy;
}

.post {
    background-color: none;
    margin: 0;
}

.reply {
	background: #f0e0d6;
  	border-top: 1px solid rgba(255, 255, 255, 0.5);
  	border-left: 1px solid rgba(255, 255, 255, 0.5);
  	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  	border-right: 1px solid rgba(0, 0, 0, 0.25);
}

#topbar {
  border-bottom: none;
}

.post_form th {
	background: #eeaa88;
	border: 1px solid #912220;
}

a:link, a:visited {
  color: blue;
}

#staff_dashboard_content {
  background: white;
}

#reply_disclaimer {
	margin-left: 2px;
	margin-right: 3px;
	border: 1px solid black;
	background: #40d9ff;
	color: black;
}

#staff_disclaimer {
	margin-left: 2px;
	margin-right: 3px;
	border: 1px solid black;
	background: #ff5a5a;
	color: black;
}

.manage_table th {
    border: 1px solid #912220;
	background-color: #eeaa88;
}

.manage_table td {
	background-color: white;
}

.list {
	background: white;
    border: 1px solid #912220;
}

.list .list_title {
	background-color: #eeaa88;
}

.post .your_post {
	color: brown;
}

.post .admin_post {
	color: red;
}

.post .mod_post {
	color: blue;
}

.post .janny_post {
	color: green;
}

.list .boards_table th {
	background-color: #eeaa88
}

.list .boards_table tr {
	background-color: #ffffff;
}

.list .boards_table tr:nth-of-type(odd) {
	background-color: #eeeeee;
}

.board_pages {
	background: #f0e0d6;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.post_title {
	color: #d00;
}