body {
	background: #eef2ff url('/internal/styles/res/fade-blue.png') repeat-x 50% 0%;
	color: black;
}

hr {
    border: none;
    border-top: 1px solid #b7c5d9;
    height: 0;
}

.title, .report_header {
	color: #AF0A0F;
}

.post .your_post {
	color: brown;
}

.reply {
	background: #d6daf0;
}

.reply, .post_form, .board_pages, .catalog_post, .form_button {
	background-color: #D6DAF0;
	border: 1px solid #B7C5D9;
	border-left: none;
	border-top: none;
}

.form_button {
	padding: 0.2cm;
	color: #34345c;
}

#topbar {
  border-bottom: none;
}

.post_form th, .post_form .form_topbar {
	background: #9988ee;
	border: 1px solid black;
}

a:link, a:visited {
  color: #34345c;
}

#staff_dashboard_content {
  background: white;
}

#reply_disclaimer {
	margin-left: 2px;
	margin-right: 3px;
	background: #40d9ff;
	color: black;
}

#staff_disclaimer {
	margin-left: 2px;
	margin-right: 3px;
	border: 1px solid black;
	background: #ff5a5a;
	color: black;
}

.manage_table td {
	background-color: white;
}

.list {
	background: white;
    border: 1px solid black;
}

.list .list_title {
	background-color: #9988ee;
}

.list .boards_table th {
	background-color: #9988ee;
}


.list .boards_table tr {
	background-color: #ffffff;
}

.list .boards_table tr:nth-of-type(odd) {
	background-color: #eeeeee;
}

.post_title {
	color: #0F0C5D;
}

.post_highlighted {
	background-color: #d6bad0;
}

#topbar {
	background: #c7cdee;
	border-bottom: 1px solid #b7c5d9;
	box-shadow: 0 0 10px #00000044;
}

#topbar select {
	height: auto;
}

button:hover {
	color: red;
}

a:hover {
	color: red;
}