body {
	background: linear-gradient(180deg, #d1d5ed 0%, #eef2ff 6cm);
	color: black;
	background-attachment: fixed;
}

hr {
    border: none;
    background-color: #00000066;
    height: 1px;
}

.post .your_post {
	color: brown;
}

.reply {
	background: #d6daf0;
}

.post {
    background-color: none;
    margin: 0;
}

.reply {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

#topbar {
  border-bottom: none;
}

.post_form th {
	background: #9988ee;
	border: 1px solid black;
}

a:link, a:visited {
  color: #34345c;
}

#staff_dashboard_content {
  background: white;
}

#reply_disclaimer {
	margin-left: 2px;
	margin-right: 3px;
	border: 1px solid black;
	background: #ff6340;
	color: black;
}

.manage_table th {
    border: 1px solid black;
	background-color: #9988ee;
}

.manage_table td {
	background-color: white;
}

.list {
	background: white;
    border: 1px solid black;
}

.list .list_title {
	background-color: #9988ee;
}